<html>
  <head>
    {% if title %}
    <title>{{title}} - PFAS</title>
    {% else %}
    <title>Personal Finance Account System [PFAS]</title>
    {% endif %}
  </head>
  <body>
    <div><a href="/">Home</a> <a href="/accounts/">Accounts</a></div>
    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
    {% for message in messages %}
        <li>{{ message }} </li>
    {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    {% block content %}
    {% endblock %}
  </body>
</html>
