{%- extends "bootstrap/base.html" %}
{% import "bootstrap/fixes.html" as fixes %}

{% block title %} Personal Finance Account System {% endblock %}
{% block styles %}
    {{super()}}
    <link rel="stylesheet" type="text/css"
          href="{{url_for('static', filename='style.css')}}">
{% endblock %}


{% block navbar %}
        <nav class="navbar navbar-default">
            <div class="container">
            <a href="/" class="navbar-brand">[ PFAS ]</a>
            {% if current_user.is_authenticated %}
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('operation.operations') }}">Операции</a></li>
                <li><a href="{{ url_for('shared.shared_ops') }}">Совместные операции</a></li>
                <li><a href="{{ url_for('report.reports') }}">Отчеты</a></li>
            </ul>
            {% endif %}
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" href="#">{{ current_user.name }}</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('account.accounts_list') }}">Счета</a></li>
                            <li><a href="{{ url_for('category.categories_list') }}">Категории</a></li>
                            <li><a href="{{ url_for('tag.tag_list') }}">Теги</a></li>
                            <li><a href="{{ url_for('user.user_settings') }}">Настройки</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ url_for('user.logout') }}">Выход</a></li>
                        </ul>

                    </li>
                {% endif %}
                {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('user.login') }}">Вход</a></li>
                {% endif %}
            </ul>
            </div>
        </nav>
{% endblock %}
{% block content %}
    <div class="container">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
            {% endwith %}

            {% block app_content %}{% endblock %}
    </div>
{% endblock %}