<!-- extend from base layout -->
{% extends "base.html" %}


{% block title %}Категории{% endblock %}


{% block app_content %}
<h1>Категории</h1>

{% if data %}
    <table>
        <tr>
            <th>ID</th>
            <th>Parent_ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    {% for row in data %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.parent_id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.description }}</td>
            <td><a href='/categories/?action=edit&id={{ row.id }}'>Edit</a>&nbsp;
                <a href='/categories/?action=delete&id={{ row.id }}'>Delete</a></td>
        </tr>
    {% endfor %}
    </table>
{% endif %}

<br />
<hr />
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        ID - {{ id }}
    </p>
    <p>
        {{ form.name.label }} {{ form.name(size=20) }}
    </p>
    <p>
        {{ form.description.label }} {{ form.description(size=20) }}
    </p>
    <p>
        {{ form.parent_id.label }} {{ form.parent_id() }}
    </p>
    <p>{{ form.submit() }}</p>
    <p><a href='/categories/'>New Category</a></p>
</form>
<p><a href='/accounts/'>Accounts</a></p>

{% endblock %}
