{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Операции{% endblock %}

{% block app_content %}
<h1>Операции</h1>
<div class="row">
    <div class="col-6 col-md-4">
        {{ wtf.quick_form(form, extra_classes="monospace") }}
    </div>
    <div class="col-12 col-sm-6 col-md-8">
            <form action="" method="post" name="login">
                {{filter_form.hidden_tag()}}
                <div>{{ filter_form.date_from.label }}: {{ filter_form.date_from() }}</div>
                <div>{{ filter_form.date_to.label }}: {{ filter_form.date_to() }}</div>
                <div>{{ filter_form.filter_id_account.label }}: {{ filter_form.filter_id_account() }}</div>
                <div>{{ filter_form.filter_id_cat.label }}: {{ filter_form.filter_id_cat(class="monospace") }}</div>
                <div>{{ filter_form.filter() }}</div>       
            </form>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Счет</th>
                    <th>Категория</th>
                    <th>Теги</th>
                    <th>Название</th>
                    <th>Описание</th>
                    <th>Сумма</th>
                    <th>Дата</th>
                </tr>
            </thead>
            <tbody>
                {% if operations is iterable %}
                    {% for operation in operations %}
                        <tr>
                            <td>{{ operation.id }}</td>
                            <td>{{ operation.id_account }}</td>
                            <td>{{ operation.id_cat }}</td>
                            <td>
                                {%for tag in operation.tags %}
                                    {{ tag.name }},
                                {% endfor %}
                            </td>
                            <td>{{ operation.name }}</td>
                            <td>{{ operation.description }}</td>
                            <td>{{ operation.value }}</td>
                            <td>{{ operation.creation_time.strftime('%Y-%m-%d') }}</td>
                            <td>
                                <a href="?id={{ operation.id }}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                                
                                <a onclick="return confirm('Удалить?')" href="?action=delete&id={{ operation.id }}"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                {% else %}
                    <tr>
                        <td colspan="8">У вас нет операций за указанный период</td>
                    </tr>
                {% endif %}
            </tbody>
            {% if operations is iterable %}
            <tfoot>
                <tr>
                    <td colspan=9>
                        Всего операций: {{ operations|count }}<br /> 
                        Общая сумма операций: {{ operations|sum(attribute="value") }}
                    </td>
                </tr>
            </tfoot>
            {% endif %}
        </table>
    </div>
</div>
{% endblock %}
